body {

    background: #262324;

    font-weight: 400;

    font-size: 11px;

    color: white;

    line-height: 20px;

}

h2 {
font-family: "brandon-grotesque","Helvetica Neue", "Helvetica", "Arial", "sans-serif";
font-weight: 700;
font-size: 16px;
color: #fcfcfc;
text-transform: uppercase;
letter-spacing: 5px;
}

#name{

    margin-left: -150px;
    text-align: left;

}

#slogan {

    font-size: 14px;
    text-transform: none;
    text-align: right;
}

.margin-Top{

    margin-top: 10%;

}

.uploadTopMargin{

    margin-top: 3%;

}

#uploadButton, #trendingButton{

    background-color: #262324;
    border: none;

}